.container {
  padding: 2px;
  margin: 20px;
 padding-left: 100px;
 padding-right: 100px;
/* background-color: #00828c; */
 
}

.gitcontainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* animation-duration: 1.3s;
  animation-name: slidein; */ /*simple  animation implemented */
}
@keyframes slidein {
  from {
  margin-left: 100%;
   width: 300%;
     }
    to {
     margin-left: 0%;
   width: 100%;
     }
  }

.langgit {
  color: #262626;
  background-color: #adadad63;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  padding: 5px;
  margin-right: 10px;
 
}





.itemcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  
}
.image {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: auto;
}
.h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 26px;
  color: #00828c;
  margin: 2px;
  font-weight: 500;
}
.p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  
  
}
.title {
  display: flex;
  justify-content: flex-start;
  text-align:'center';
  font-size: 24px;
  font-weight: 500;
  margin: 2px;
  position: relative;
  
  font-family:'Gudea', sans-serif;
  /* //animation-duration: 1.3s;
//animation-name: slidein; */ /*simple  animation implemented */
  
}
@keyframes slidein {
  from {
  margin-left: 100%;
    width: 300%;
     }
    to {
     margin-left: 100%;
   width: 100%;
     }
  }


.a {
  display: flex;
  justify-content: flex-start;
  font-size: 23px;
  font-weight: 500;
  margin-top: 10px;
  font-family:'Gudea', sans-serif;
}
@keyframes slidein {
  from {
  margin-left: 100%;
    width: 300%;
     }
    to {
     margin-left: 0%;
   width: 100%;
     }
  }



.des {
  text-align: center;
  font-size: 20px;
  margin: 2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
.content{
  display: flex;
  padding: 2px;
  align-items: center;
  font-size: 18px;
  color: #7b7b7b;
  /* //animation-duration: 1.3s;
//animation-name: slidein; */ /*simple  animation implemented */
  
}
@keyframes slidein {
  from {
  margin-left: 100%;
    width: 300%;
     }
    to {
     margin-left: 0%;
   width: 100%;
     }
  }



@media (max-width: 1100px) {
  .content{
    font-size: 16px;
    
  }
  .container{
    padding: 0px;
    margin: 0px;
  }
}

