.linkText {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 22px;
  color: #00828c;
  margin: 20px;
}
.linkContainer {
  flex: 1;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}
.link {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 15px;
  font-size: 18px;
}
