.linkText {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 26px;
  color: #00828c;
  margin: 10px;
  font-weight: 500;
}
.linkContainer {
  display: flex;
  margin-top: 10px;
  flex-direction: row;
 
  justify-content: center;
}
.link {
  display: flex;
  justify-content: center;
 align-content: space-between;
 
  margin-top: 15px;
  font-size: 23px;
  
 
  
}
