.linkText {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  font-size: 26px;
  color: #00828c;
  margin: 10px;
  font-weight: 500;
}
.linkContainer {
  flex: 1;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.link {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 15px;
  font-size: 23px;
  font-weight: 400;
}
