.container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 0px;
  
  background-color: #262626;
}
.para {
  display: flex;
  text-align:initial;
  font-size: 30px;
 font-family:'Gudea', sans-serif;
 align-items: center;
 color:#bfbfbf;
position: relative;
animation-duration: 2s;
animation-name: slidein; /*simple  animation implemented */
}
@keyframes slidein {
from {
margin-left: 100%;
  width: 300%;
   }
  to {
   margin-left: 0%;
 width: 100%;
   }
}

.image {

  display: flex;
  flex-direction: row;
justify-content: center;
 
  max-height: 50;
  max-width: 50;
}
.h1 {
  display: flex;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.animation{
  width: 100%;
  height: auto;
  background-size: contain;
}
.layoutOne{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
 margin-right: 180px;
 margin-left: 180px;
 

}
.icon{
  padding: 12px;
  margin-right: 60px;
  
}
.title{
  margin-left: 50px;
}
.tab{
  color: white;
  font-size: 18px;
  font-family:'Gudea', sans-serif ;
}


@media (max-width: 1100px) {
  .layoutOne {
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .para{
    font-size: 22px;
    
   
    color:#bfbfbf;
    margin-top: 0px;
   padding-bottom: 15px;
   padding-left: 10px;
   padding-right: 10px;
  }
  .icon{
    margin-right: 10px;
  }
  .title{
    margin-left: 0px;
  }
  
}
.miniLayoutOne{
  display: flex;
  flex-direction: column;
}

