.container {
  display: flex;
  flex-direction: row;
justify-content:center ;
  align-items: flex-end;
  margin-bottom: 0px;
  background-color:white;;
}
.text {
  font-size: 13px;
  margin-top:20px;
  margin-bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color:#262626;
  align-items: flex-end;
 
}
