.container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 50px;
}
.text {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(48, 42, 42);
  align-items: flex-end;
}
