.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  
}
.para {
  display: flex;
  text-align: center;
  font-size: 37px;
  /* margin-top: 10px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  align-items: center;
}
.image {

  display: flex;
  flex-direction: row;
justify-content: center;
 
  max-height: 50;
  max-width: 50;
}
.h1 {
  display: flex;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.animation{
  width: 100%;
  height: auto;
  background-size: contain;
}
.layoutOne{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
@media (max-width: 800px) {
  .layoutOne {
    flex-direction: column;
  }
  .para{
    font-size: 25px;
  }
}
.miniLayoutOne{
  display: flex;
  flex-direction: column;
}