* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  background-color: #00828c;
  color: white;
}
.navlinks {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 75%;
}
.home,
.about {
  text-decoration: none;
  color: white;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.aboutunselected {
  font-size: 30px;
}
.active-class {
  color: red;
}

.active {
  color: green;
}
