.container {
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  animation-duration: .5s;
animation-name: slidein; /*simple  animation implemented */
}

@keyframes slidein {
  from {
  margin-left: 100%;
    width: 300%;
     }
    to {
     margin-left: 0%;
   width: 100%;
     }
  }
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 27px;
  font-weight: 700;
  font-family:'Gudea', sans-serif;
}
